{% extends 'main/base.html' %}

{% block content%}
{% include 'main/navbar.html' %}

<section id="bookInfo" style="display: flex; justify-content: space-between; margin-left: 8%; margin-right: 2%; font-size: 0.7em;">
    <div style="width: 69%;">
        <div  style="background-color: white; height: 25vh; margin-bottom: 15px; padding: 20px; display: flex; height: fit-content;border-radius: 10px;">
            <img height="150vh" src="{{ book.img_url}}" alt="" style="border-radius: 5px;">
            <div style="padding: 0px 10px;">
                <h3 style="font-size: 1em; font-weight: bolder ;">{{ book.title }}</h3>
                <p class="mb-0">{{ book.description|slice:":400" }} <span class="d-none" id="bookDescription">{{ book.description|slice:"400:-1" }}</span></p>
                <p><a id="readMoreBtn" class="text-primary">Read more &gt&gt;</a></p>
                <h4 style="font-size: 0.7em; font-weight: bold ;">By {{ book.author}}</h4>
            </div>
        
        </div>
        <div style="background-color: white; border-radius: 15px;">
            <h4 class="ps-3" style="color: rgb(65, 119,226);">BORROW HISTORY</h4>
            <ul class="pe-3">
                <li class="d-flex justify-content-between">
                    <p style="width: 20%;">MEMBER</p>
                    <p style="width: 20%;">COPY ID</p>
                    <p style="width: 20%;">RETURN DATE</p>
                    <p style="width: 20%;">STATUS</p>
                    <p style="width: 20%;">ACTION</p>
                    
                  <hr>  
                </li>
                <hr>
                {% for transaction in transactions%}
                <li class="d-flex">
                    <p style="width: 20%;" class="text-start">{{ transaction.member.first_name }} {{ transaction.member.last_name }}</p>
                    <p style="width: 20%;" class="text-start">{{ transaction.copyId|stringformat:"s"| slice:":5" }}</p>
                    <p style="width: 20%;" class="text-start">{{ transaction.return_date| date }}</p>
                    <p style="width: 20%;" class="text-start status">{{ transaction.status}}</p>
                    <p></p>
                        <div class="dropdown">
                        <a href="#" role="button" data-bs-toggle="dropdown" class="action" data-bs-target="#c" >
                        ...
                       </a>
                       <ul  id="c" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li type="button" data-bs-toggle="modal" data-bs-target="#myModal5">
                          <a class="dropdown-item" href="#">
                          <p class="updateBookStatus" style="font-size:0.8em;"  id="{{transaction.copyId}}" amount="{{ transaction.book.fee }}">Update</p>
                        </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'memberinfo' transaction.member.member_id%}">
                            <p class="updatememberBtn" style="font-size: 0.8em;" type="button" id="{{transaction.member.member_id }}">Member details</p>
                          </a>
                          </li>
                        </ul>
                        
                      
                    </div>
                   
                </li>
                <hr>
                {% endfor %}
            </ul>
    
        </div>
    </div>
    <div style="width: 29%; background-color: white; height: fit-content; padding: 15px; border-radius: 10px;">
        <h4 style="font-size: 0.8em; font-weight: bold ;">PUBLISHER</h4>
        <p  style="font-size: 0.7em;">{{ book.publisher }}</p>
        <h4 style="font-size: 0.8em; font-weight: bold ;">PUBLICATION DATE</h4>
        <p  style="font-size: 0.7em;">{{ book.publish_date }}</p>
        <h4 style="font-size: 0.8em; font-weight: bold ;">EDITION</h4>
        <p  style="font-size: 0.7em;">{{ book.edition }}</p>
        <h4 style="font-size: 0.8em; font-weight: bold ;">LANGUAGE</h4>
        <p  style="font-size: 0.7em;">{{ book.language }}</p>
        <h4 style="font-size: 0.8em; font-weight: bold ;">GENRE</h4>
        <p  style="font-size: 0.7em;">{{ book.category }}</p>
        <h4 style="font-size: 0.8em; font-weight: bold ;">NUMBER OF COPIES</h4>
        <p  style="font-size: 0.7em;"><span class="copyQuantity">{{ book.quantity }}</span>/{{ copiesCount }} available</p>
        <h4 style="font-size: 0.8em; font-weight: bold ;">PAGES</h4>
        <p  style="font-size: 0.7em;">{{ book.pages }}</p>
    </div>
</section>

{% endblock content%}