{% extends 'main/base.html' %}
{% load custom_filters %}

{% block content %}
{% include 'main/navbar.html' %}

<div id='bookPage'>
    <ul>
        <li id="sectionHeader" class="d-flex justify-content-between ps-md-4 pe-md-4">
         
          
          <p class="text-secondary text-start" style="width: 20%">BOOK NAME</p>
          <p class="text-secondary text-start hideSm" style="width: 20%">BOOK AUTHOR</p>
          <p class="text-secondary text-start" style="width: 20%">BOOK CODE</p>
          <p class="text-secondary text-start" style="width: 20%">BOOK STATUS</p>
          <p class="text-secondary text-start hideSm" style="width: 20%">FEE(Ksh)</p>
         
          <p class="text-secondary text-start" style="width: 20%">ACTION</p>
        </li>
        <li>
       <ul class="ps-0 ps-md-4 pe-md-4">
        {% for book in books %}
        <li class="listDIvider d-flex justify-content-between align-items-center text-dark">
          
          <p class="text-start d-flex"><span><img class="bookImg" height="30px" src="{{ book.img_url}}" alt=""></span> <span class="ms-2" > {{ book.title| slice:":15" }} </span> </p>
          <p class="text-start hideSm">{{ book.author| slice:":8"}}</p>
          <p>{{ book.book_id|stringformat:"s" |slice:":8" }}</p>
          <p class="text-start ps-3"><span id="{{ book.title }}">{{ book.quantity }}</span>/{{book.copy_ids| split_length}} available</p>
          <p class="text-start hideSm ps-3">{{ book.fee}}</p>
         
          <p style="width: 5px;">
            <div class="dropdown" style="left: 17px;">
            <a href="#" role="button" data-bs-toggle="dropdown" data-bs-target="#c" class="action">
            ...
           </a>
              <ul  id="c" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li type="button" data-bs-toggle="modal" data-bs-target="#myModal3"><a class="dropdown-item" href="#"><p class="issueBookBtn" style="font-size: 0.8em;"  id="{{book.title}}">Issue book</p></a></li>
                <li data-bs-toggle="modal" data-bs-target="#myModal" >
                  <a class="dropdown-item" href="#">
                  <p class="updateBookBtn" style="font-size: 0.8em;" type="button" id="{{book.book_id}}">Update</p>
                </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'bookinfo' book.book_id %}">
                  <p class="updateBookBtn" style="font-size: 0.8em;" type="button" id="{{book.book_id}}">Book details</p>
                </a>
                </li>
                <li data-bs-toggle="modal" data-bs-target="#myModal2">
                  <a class="dropdown-item" href="#">  <p id="{{book.book_id}}" class="deleteBookBtn" style="font-size: 0.8em;" >Delete</p></a>
                </li>
                
              
              </ul>
            </div></p>
          
     
        </li>
        <hr >
        {% endfor %}
       </ul>
        </li>
      </ul>
    
</div>


{% endblock content %}