{% extends 'main/base.html' %}

{% block content %}
{% include 'main/navbar.html' %}
<section class="d-flex me-2" >


<div id="librarians" style="background-color: white;">
    <h4 class="ps-3" style="color: rgb(65, 119,226);">ALLOWED USERS</h4>
    <ul class="pe-3">
        <li class="d-flex justify-content-between">
            <p style="width: 20%;">ID</p>
            <p style="width: 20%;">NAME</p>
            <p style="width: 20%;">EMAIL</p>
            <p style="width: 20%;">ACTION</p>
            
          <hr>  
        </li>
        <hr>
        <span id="ldata">
        {% for librarian in librarians%}
       
        <li class="d-flex">
            <p style="width: 20%;" class="text-start">{{ librarian.id }}</p>
            <p style="width: 20%;" class="text-start"> {{ librarian.username}} {{ librarian.last_name }}</p>
            <p style="width: 20%;" class="text-center">{{ librarian.email }}</p>
            <p></p>
                <div class="dropdown" style="left: 17%;">
                <a href="#" role="button" data-bs-toggle="dropdown" class="action" data-bs-target="#c" >
                ...
               </a>
               <ul  id="c" class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="padding-left: 10px;">
                <li type="button" data-bs-toggle="modal" data-bs-target="#myModal6">
                  <a class="dropdown-item">
                  <p class="updatelibrarian" style="font-size:0.8em;"  id="{{librarian.id}}">Update</p>
                </a>
                </li>
                <li data-bs-toggle="modal" data-bs-target="#myModal2">
                    <a class="dropdown-item">
                    <p class="deleteLibrarianBtn" style="font-size: 0.8em;" type="button" id="{{librarian.id }}">Delete</p>
                  </a>
                  </li>
                </ul>
                
              
            </div>
           
        </li>
        <hr>
  
        {% endfor %}
    </span>
    </ul>

</div>
<aside style="padding: 10px; width: 35%; background-color: white; border-radius: 15px;">
    <h4>Recent activities</h4>
    <p>Todays Issued Books</p>
    <p style="font-weight: bolder; color: rgb(65, 119, 226);">{{recentBookIssus.count}}</p>
    <p>Todays returned books</p>
    <p style="font-weight: bolder; color: rgb(65, 119, 226);">{{recentReturnedBooks.count}}</p>

</aside>

</section>




{% endblock content %}
