{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <section id="login">
        <p id="logoc"><img id="logo1" src="{% static 'image/logo1.jpg'%}" style="width: 201px;height: 170px;"></p>
        <div id="login-container">
            <h6>LOGIN</h6>
            {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <p style="font-size: 0.8em; font-weight: bold;">USER NAME</p>
                <input id="text" name="username" type="text" autocomplete="off" placeholder="user name">
                <p style="font-size: 0.8em; font-weight: bold;">PASSWORD</p>
                <input id="password" name="password" type="password" autocomplete="off" placeholder="Password">
                <button type="submit">Login</button>
            </form>
            <span style="font-size: 0.8em;">login as admin</span>
            <p class="authDetails mb-0 d-flex justify-content-around"><span>username: admin</span><span>password: admin123 </span></p>
            <span style="font-size: 0.8em;">login as librarian</span>
            <p class="authDetails d-flex justify-content-around"><span>username: John</span><span>password: johndoe</span></p>
        </div>
    </section>
{% endblock content %}