{% extends 'main/base.html' %}

{% block content %}
{% include 'main/navbar.html' %}

<div id='bookPage'>
    <ul>
        <li id="sectionHeader" class="d-flex justify-content-between ps-md-4 pe-md-4">
         
          
          <p class="text-secondary text-start" style="width: 20%">NAME</p>
          <p class="text-secondary text-start hideSm" style="width: 20%">ID</p>
          <p class="text-secondary text-start" style="width: 20%">MOBILE NO</p>
          <p class="text-secondary text-start" style="width: 20%">ISSUED BOOK(s)</p>
          <p class="text-secondary text-start hideSm" style="width: 20%">DEBT</p>
         
          <p class="text-secondary text-start" style="width: 20%">ACTION</p>
        </li>
        <li>
       <ul class="ps-0 ps-md-4 pe-md-4">
        {% for member in members %}
        <li class="listDIvider d-flex justify-content-between align-items-center text-dark">
          
          <p class="text-start d-flex"><span><img class="bookImg" height="30px" src="{{ book.img_url}}" alt=""></span> <span class="ms-2" > {{ member.first_name}} {{ member.last_name}} </span> </p>
          <p class="text-start hideSm">{{ member.member_id|stringformat:"s" |slice:":5"}}</p>
          <p>{{ member.mobile_no }}</p>
          {% with issuedBooks=member.transaction_set.all  %}
          <p class="text-start ps-3">{{ issuedBooks.count }}</p>
          {% endwith %}
          <p class="text-start hideSm ps-3">{{ member.debt }}</p>
         
          <p style="width: 5px;">
            <div class="dropdown" style="left: 17px;">
            <a href="#" role="button" data-bs-toggle="dropdown" data-bs-target="#c" class="action">
            ...
           </a>
           <ul  id="c" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li data-bs-toggle="modal" data-bs-target="#myModal3"><a class="dropdown-item" href="#"><p class="issueBookBtn m" style="font-size: 0.8em;" type="button"  id="{{ member.first_name }} {{ member.last_name }}">Issue book</p></a></li>
            <li type="button" data-bs-toggle="modal" data-bs-target="#myModal1">
              <a class="dropdown-item" href="#">
              <p class="updateMemberBtn" style="font-size: 0.8em;"  id="{{member.member_id}}">Update</p>
            </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'memberinfo' member.member_id%}">
              <p class="updatememberBtn" style="font-size: 0.8em;" type="button" id="{{ member.member_id }}">Member details</p>
            </a>
            </li>
            <li data-bs-toggle="modal" data-bs-target="#myModal2">
              <a class="dropdown-item" href="#">  <p id="{{member.member_id}}" class="deleteMemberBtn" style="font-size: 0.8em;">Delete</p></a>
            </li>
            
          
        </div></p>
          
     
        </li>
        <hr >
        {% endfor %}
       </ul>
        </li>
      </ul>
    
</div>


{% endblock content %}