

{% load static %}
<div id="nav">

  <div class="{% if h%} active {% else %} unactive {% endif %}"><p style="font-size: 0.4em;"><a href="{% url 'home' %}">Dashboard</a></p><i class="bi bi-stack"></i></div>
</a>
  <div class="{% if br or bi%} active navborder{% else %} unactive {% endif %}"><p style="font-size: 0.5em;  margin-right: 4px;"><a href="{% url 'bookdetails'%}">Books</a></p><i class="bi bi-book-half"></i></div>
  <div class="{% if mr or mi%} active {% else %} unactive {% endif %}"><p style="font-size: 0.5em;"><a href="{% url 'membersdetails' %}">Members</a></p><i class="bi bi-people-fill"></i></div>
  <div class="{% if l%} active {% else %} unactive {% endif %}"><p style="font-size: 0.5em;"><a href="{% url 'librarians' %}">Librarians</a></p><i class="bi bi-person-lines-fill"></i></div>
</div>
  <div id="activeLink" class="{% if bi or mi%} activeLinkxlg {% endif%}  d-flex justify-content-between align-items-baseline pe-3">
    <img id="logo" class="hideSm" src="{% static 'image/logo1.jpg' %}" alt="">
    {% if h%}
    <h5 class="ms-4 mb-0 pt-2 text-dark"><small>&gt&gt</small><strong> Dashboard</strong></h5>
    {% elif br %}
    <h5 class="ms-4 mb-0 pt-2 text-dark"><small>&gt&gt</small><strong>Books</strong></h5>
    {% elif bi %}
    <h5 class="ms-4 mb-0 pt-2 text-dark"><small>&gt&gt</small><strong>Books</strong><small class="ms-3 hideSm">&gt&gt {{ book.title }} </small> </h5>
    {% elif mr %}
    <h5 class="ms-4 mb-0 pt-2 text-dark"><small>&gt&gt</small><strong>Members</strong></h5>
    {% elif mi %}
    <h5 class="ms-4 mb-0 pt-2 text-dark"><small>&gt&gt</small><strong>Members</strong><small class="ms-3 hideSm">&gt&gt {{ member.first_name }} {{ member.last_name }}</small> </h5>
    {%elif l %}
    <h5 class="ms-4 mb-0 pt-2 text-dark"><small>&gt&gt</small><strong>Librarians</strong></h5>
    {% endif %}
    <div id="searchinput" class="d-flex " style="position: relative; {% if l %} margin-left: auto; margin-top: 10px;{% endif %}">
      <span class="{% if l %} hide {% endif%}">
      <form action="{% url 'home' %}" method="GET" id="searchInput" class="d-flex">
        <input class="me-2 hidelg {% if bi or mi%} hidexlg {% endif%}" id="searchform" type="search" placeholder="Search by Title, Author" name="q">
        
        <input class="d-none" name="searchType" type="text">
          
        <div id="filterDropdown" class="dropdown hidelg {% if bi or mi%} hidexlg {% endif%}" >
          <a class="dropdown-toggle" href="#" role="button" id="searchFilter" data-bs-toggle="dropdown">
            All
          </a>
        
          <ul class="dropdown-menu" id="searchFilterDrpDown" >
            <li class="ps-1" id="All">All</li>
            <li class="ps-3"><small id="title">Title</small></li>
            <li class="ps-3"><small id="author">Author</small></li>
            <li class="ps-1" id="member">Member</li>
          </ul>
        </div>
       

        <button id="searchBtn" type="submit" class="dropdown hidelg {% if bi or mi%} hidexlg {% endif%} "><i class="bi bi-search" style="color: rgb(65, 119, 226);"></i></button>
        <i id="closeicon" class="bi bi-x"></i>

          <i class="bi bi-search me-2 {% if bi or mi%} .qtoggleicon {% endif%}" id="qtoggleicon"></i>

      </form>
    </span>
      
      <button class="addMemberBtn mb-2 {% if l %} hide {% endif%}" type="button" data-bs-toggle="modal" data-bs-target="#myModal1">Add Member</button>
      <button  class="addBookBtn mb-2 {% if l %} hide {% endif%}" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Add Book</button>
      <button  class="addLibrarianBtn mb-2 {% if not l %} hide {% endif%}" type="button" data-bs-toggle="modal" data-bs-target="#myModal6">Add Librarian</button>
      <a href="{% url 'logout' %}"><div class="logout" style="display: flex; border-left: 1px solid rgb(209, 209, 209);margin-left: 6px; padding-left: 4px; padding-top: 6px;font-weight: bold;">
         
          <i class="bi bi-person"></i>
          <p style="margin-bottom: 0px;">Logout</p>
         
    </div></a>
      </div>
   
    </div> 
    <hr id="navdiv"> 

  <div class="modal" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered animate__animated animate__flipInX animate__faster">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><strong>ADD BOOK</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="myForm" action="">

          <div>
           <span class="d-none" id="csrf_token">{% csrf_token %}</span>
              <p class="mb-1"><strong>TITLE</strong></p>
            <input class="modalInput" type="text" name="title" placeholder="Title">
            <p class="mb-1"><strong>AUTHOR</strong></p>
            <input type="text" class="modalInput" name="author" placeholder="Author">
            <p class="mb-1"><strong>LANGUAGE</strong></p>
            <input type="text" class="modalInput" name="language" placeholder="Language">
          <p class="mb-1"><strong>GENRES</strong></p>
          <input type="text" class="modalInput" name="category" placeholder="Category">
          <p class="mb-1"><strong>EDITION</strong></p>
          <input type="text" class="modalInput" name="edition" placeholder="Edition">
          <p class="mb-1"><strong>PAGES</strong></p>
          <input type="number" class="modalInput" name="pages" placeholder="100">
            </div>
          <div>
            <p class="mb-1"><strong>DESCRIPTION</strong></p>
            <textarea name="description" class="modalInput" placeholder="Description"></textarea>
          <p class="mb-1"><strong>PUBLISHER</strong></p>
          <input type="text" class="modalInput" name="publisher" placeholder="Publisher">
          <p class="mb-1"><strong>PUBLISH DATE</strong></p>
          <input type="text" class="modalInput" name="publish_date" placeholder="Publish Date">
          <p class="mb-1"><strong>IMAGE(url)</strong></p>
          <input type="text" class="modalInput" name="img_url" placeholder="Image Url">
          <div  class="numericInputs">
            <span>
            <p class="mb-1"><strong>QUANTITY</strong></p>
          <input style="width: 60px;" type="text" class="modalInput" name="quantity" placeholder="0">
        </span>
        <span>
          <p class="mb-1"><strong>FEE</strong></p>
          <input style="width: 60px;"  type="text" class="modalInput" name="fee" placeholder="0">
        </span>
          </div>
          </div>
        </form>
        
        <div class="modal-footer">
          <button id="addbook" type="button">Add Book</button>
          <button id="updatebtn" type="button" style="display: none">Update</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="myModal1" tabindex="-1"  >
    <div class="modal-dialog modal-dialog-centered animate__animated animate__flipInX animate__faster">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title"><strong>ADD MEMBER</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="myForm" action="" class="" >
          <span class="d-none" id="modal1csrf_token">{% csrf_token %}</span>
          <div id="imgField">
            <p><strong>MEMBERS PHOTO</strong></p>
            <label class="image-file-input" for="imageFile" style="font-size: 3em; text-align: center;">+</label>
            <input id="imageFile" name="imageFile" type="file">
            <img width="100vh" class="d-none m-3" src="{% static 'image/user_1177568.png' %}" alt="">
          </div>
          
          <div id="x">
           <div> <p class="mb-1"><strong>FIRST NAME</strong></p>
            <input class="modalInput" name="first_name" type="text" placeholder="First Name"></div>
          <div>
            <p class="mb-1"><strong>SECOND NAME</strong></p>
          <input class="modalInput" name="last_name" type="text" placeholder="Last Name">
          </div>
          <div>
            <p class="mb-1"><strong>GENDER</strong></p>
          <input name="gender" type="text" class="modalInput" placeholder="Gender">
          </div>
          <div>
            <p class="mb-1"><strong>AGE</strong></p>
          <input name="age" type="text" class="modalInput" placeholder="Age">
          </div>
         <div>
          <p class="mb-1"><strong>ID No</strong></p>
          <input name="national_id" type="text" class="modalInput" placeholder="xxxxxxxx">
         </div>
          </div>
          <div id="y">
           <div> <p class="mb-1"><strong>ADDRESS</strong></p>
            <textarea name="address" placeholder="Address"></textarea>
            </div>
          <div>
            <p class="mb-1"><strong>MOBILE NO</strong></p>
          <input name="mobile_no" type="text" class="modalInput" placeholder="07XXXXXXXX">
          </div>
          <div>
            <p class="mb-1"><strong>EMAIL</strong></p>
          <input name="email" type="email" class="modalInput" placeholder="example@gmail.com">
          </div>
          </div>
        </form>
        
        <div class="modal-footer">
          <button id="addmember" type="button">Add Member</button>
          <button id="updateMember" type="button d-none">Update</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="myModal2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered animate__animated animate__flipInX animate__faster">
      <div class="modal-content" >
        <div class="modal-header">
        <i class="bi bi-exclamation-triangle"></i>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <p class="text-center">Are you sure?</p>
        <p class="text-center">This action cannot be undone. All values associated with this field will be lost</p>
        <button type="button" class="btn btn-danger delBtn">Confirm</button>
        <button type="button" class="btn btn-outline-secondary delBtn" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>

  <div class="modal" id="myModal3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered animate__animated animate__flipInX animate__faster">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>ISSUE BOOK</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        
        <form class="d-flex flex-column justify-content-between" action="">
          
          <span class="d-none" id="modal3csrf_token">{{csrf_token}}</span>
         <div>
          <p>Select member</p>
          <input id="memberInput" type="text" placeholder="search name">
          <div id="memberDropDown">

          </div>
         </div>
          
          
        <div>
          <p>Select book</p>
          <input id="bookInput" type="text" placeholder="Search Book">
          <div id="bookDropDown">
           
          </div>
        </div>
        <div>
          <p>Return Date</p>
          <input id="dateInput" type="text" placeholder="YYYY-MM-DD">
        </div>
        <button id="postIssueBookBtn" type="button" class="mt-3">Issue Book</button>
        </form>
      </div>
    </div>
  </div>


  <div class="modal" id="myModal4" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered animate__animated animate__flipInX animate__faster">
      <div class="modal-content" >
       <i class="type"></i>
      
      <p class="message"></p>
      </div>
    </div>
  </div>


  <div class="modal" id="myModal5" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered animate__animated animate__flipInX animate__faster">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title"><strong>ISSUE RETURN</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <h3>AMOUNT TO BE PAID</h3>
        <p id="amount"></p>
        <span class="d-none" id="updateStatusCsrfToken">
          {% csrf_token%}
        </span>
        <input class="modalInput" max id="amntPaid" type="number" placeholder="0">
        <button type="button" class="mt-3" id="updateStatusBtn">Mark as returned</button>        
      </div>
    </div>
  </div>



  <div class="modal" id="myModal6" tabindex="-1"  >
    <div class="modal-dialog modal-dialog-centered animate__animated animate__flipInX animate__faster">
      <div class="modal-content" style="width: 70%; margin: auto;">
        <div class="modal-header">
          <h5 class="modal-title"><strong>ADD LIBRARIAN</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="myForm p-3" action="" class="" >
          <span class="d-none" id="modal6csrf_token">{% csrf_token %}</span>         
           <div> <p class="mb-1"><strong>FIRST NAME</strong></p>
            <input class="modalInput" name="first_name" type="text" placeholder="First Name">
          </div>
          <div>
            <p class="mb-1"><strong>SECOND NAME</strong></p>
          <input class="modalInput" name="last_name" type="text" placeholder="Second Name">
          </div>
          <div>
            <p class="mb-1"><strong>EMAIL</strong></p>
          <input name="email" type="email" class="modalInput" placeholder="examle@gmail.com">
          </div>        
           <div> <p class="mb-1"><strong>PASSWORD</strong></p>
           <input name="password1" type="password" class="modalInput" placeholder="Password">
            </div>
            <div> <p class="mb-1"><strong>CONFIRM PASSWORD</strong></p>
              <input name="password2" type="password" class="modalInput" placeholder="Comfirm your password">
               </div>
        </form>
        
        <div class="modal-footer">
          <button id="addLibrarian" type="button">Add</button>
          <button id="updateLibrarian" type="button" class="d-none">Update</button>
        </div>
      </div>
    </div>
  </div>




  
  

 